{% extends "bootstrap/base.html" %}

{% block title %}Test{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default move_it" role="navigation" style="margin-bottom: 0px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-justify"></i>
                    <span>Test</span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('express') }}">Express</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">Log In</a></li> 
            </ul>
        </div>
    </div>
</div>

<div id="mySidebar" class="sidebar">
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a> -->
    <div class="sidebar-header">
        <h3>Bootstrap Sidebar</h3>
    </div>
    <ul class="list-unstyled components">
        <p>Dummy Heading</p>
        <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Home 1</a></li>
                    <li><a href="#">Home 2</a></li>
                    <li><a href="#">Home 3</a></li>
                </ul>
        </li>
        <li>
            <a href="#">About</a>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
    <ul class="list-unstyled CTAs">
        <li><a href="#" class="download">Download source</a></li>
        <li><a href="#" class="article">Back to article</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid move_it">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
        $('.sidebar').toggleClass('active');
            $('.move_it').toggleClass('active');
        });
});
/*
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementsByClassName("move_it")[0].style.marginLeft = "250px";
  document.getElementsByClassName("move_it")[1].style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementsByClassName("move_it")[0].style.marginLeft= "0";
  document.getElementsByClassName("move_it")[1].style.marginLeft= "0";
}
*/
</script>
{% endblock %}
