{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Test{% endblock %}

{% block page_content %}
<div class="page-header">
   <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
   <h1>Clicked Location: {% if latlng %}{{ latlng }}{% else %}Not Clicked{% endif %}</h1>
</div>

<div class="page-header">
<form method="POST">
{{ wtf.quick_form(form) }}
</form>
</div>

<iframe src="/map" width="100%" height="400"></iframe>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
document.addEventListener('dblclick', function(e) {
    document.getElementById("latlng").value = "";
    document.getElementById("locate").value = "";
});
</script>
{% endblock %}
